@media only screen and (max-width: 2700px) {
    html,
    body {
        font-size: 18px;
    }
    .grid-wrapper {
        grid-auto-rows: 150px;
    }
    .maintext {
        width: 100%;
    }
}

@media only screen and (max-width: 1023px) {
    html,
    body {
        font-size: 16px;
    }
}
@media only screen and (max-width: 767px) {

    html,
    body {
         font-size: 17px;
    }

}
  @media only screen and (max-width: 480px) {

    nav  {
         display: none;
    }


}
